In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/census.csv')
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Pré-processamento

In [7]:
df['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [8]:
df.shape

(32561, 15)

In [9]:
X = df.iloc[:,:14].values
X[:5]

array([[39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married',
        ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0,
        40, ' United-States'],
       [50, ' Self-emp-not-inc', 83311, ' Bachelors', 13,
        ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White',
        ' Male', 0, 0, 13, ' United-States'],
       [38, ' Private', 215646, ' HS-grad', 9, ' Divorced',
        ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0,
        40, ' United-States'],
       [53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse',
        ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40,
        ' United-States'],
       [28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse',
        ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40,
        ' Cuba']], dtype=object)

In [11]:
y = df.iloc[:, 14].values
y[:5]

array([' <=50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K'], dtype=object)

### Atributos Categ.

In [12]:
from sklearn.preprocessing import LabelEncoder

In [29]:
label_encoder = LabelEncoder()
for idx, t in enumerate(df.dtypes[:-1]):
    if t == object:
        X[:, idx] = label_encoder.fit_transform(X[:, idx])

In [30]:
X[:5]

array([[39, 7, 77516, 9, 13, 4, 1, 1, 4, 1, 2174, 0, 40, 39],
       [50, 6, 83311, 9, 13, 2, 4, 0, 4, 1, 0, 0, 13, 39],
       [38, 4, 215646, 11, 9, 0, 6, 1, 4, 1, 0, 0, 40, 39],
       [53, 4, 234721, 1, 7, 2, 6, 0, 2, 1, 0, 0, 40, 39],
       [28, 4, 338409, 9, 13, 2, 10, 5, 2, 0, 0, 0, 40, 5]], dtype=object)

### Escalonamento

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
scaler_x = StandardScaler()
X = scaler_x.fit_transform(X)

/home/dstrb/anaconda3/envs/tensor/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/home/dstrb/anaconda3/envs/tensor/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [33]:
X[:5]

array([[ 0.03067056,  2.15057856, -1.06361075, -0.33543693,  1.13473876,
         0.92163395, -1.3178091 , -0.27780504,  0.39366753,  0.70307135,
         0.1484529 , -0.21665953, -0.03542945,  0.29156857],
       [ 0.83710898,  1.46373585, -1.008707  , -0.33543693,  1.13473876,
        -0.4062122 , -0.60838662, -0.90018084,  0.39366753,  0.70307135,
        -0.14592048, -0.21665953, -2.22215312,  0.29156857],
       [-0.04264203,  0.09005041,  0.2450785 ,  0.18133163, -0.42005962,
        -1.73405835, -0.1354383 , -0.27780504,  0.39366753,  0.70307135,
        -0.14592048, -0.21665953, -0.03542945,  0.29156857],
       [ 1.05704673,  0.09005041,  0.42580136, -2.40251115, -1.19745882,
        -0.4062122 , -0.1354383 , -0.90018084, -1.96262077,  0.70307135,
        -0.14592048, -0.21665953, -0.03542945,  0.29156857],
       [-0.77576787,  0.09005041,  1.40817572, -0.33543693,  1.13473876,
        -0.4062122 ,  0.81045833,  2.21169816, -1.96262077, -1.42233076,
        -0.14592048, -0.21665953, -0.03542945, -4.05422257]])

### Split

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X, y, test_size=.3)

## Treinamento

In [36]:
from sklearn.linear_model import LogisticRegression

In [37]:
classificador = LogisticRegression(max_iter=10000)
classificador.fit(X_treinamento, y_treinamento)

/home/dstrb/anaconda3/envs/tensor/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=10000, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [39]:
previsoes = classificador.predict(X_teste)
previsoes[:5]

array([' <=50K', ' <=50K', ' <=50K', ' <=50K', ' >50K'], dtype=object)

## Métricas

In [40]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [41]:
print(accuracy_score(y_teste, previsoes))
print(confusion_matrix(y_teste, previsoes))

0.8246494011669567
[[7021  418]
 [1295 1035]]